.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms linear;
}

.fade-exit {
  display: block;
}

.fade-exit.fade-exit-active {
  display: none;
}
